@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Ubuntu:wght@300&display=swap');

* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.content {
    padding: 50px;
    background: #f5f5fa;
    flex-grow: 1;
}

.container_fluid {
    width: 80%;
    margin: auto;
}

header {
    height: 70px;
    background-color: #eaeaea;
    border: 10px;
}

#logo {
    margin: 0px;
    line-height: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    margin: 25px;
    gap: 2rem;
}
li {
    margin-right: 30px;
    list-style-type: none;
}

li i {
    color: #ff5100;
}
a {
    text-decoration: none;
    font-weight: bold;
    color: #ff5100;
    transition: 0.1s  ease;
}
nav a:hover {
    border-bottom: 2px solid #ff5100;
    padding: 3px;
}



/* toggle_btn_resp */

.btn_toggle {
    margin: 25px;
    display: none;
}

/* card-group */
.card-group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
    margin-bottom: 1rem;

}
.card-group-1 {
    border: 1px solid #ff5100;
    background-color: aqua;
    row-gap: 15px;
}
.card-title h1 {
    padding: 20px;
}
.card-content p {
    padding: 20px;
}

.card-group-1 .card-footer {
    background-color: #ffffff;
}

.card-footer span {
    padding: 10px;
    text-align: center;
}




/* Footer of page */
footer {
    display: flex;
    padding: 20px;
    background: #eaeaea;
    color: #ff5100;
    text-align: center;
}

/* responsive design */

@media (max-width:882px) {
    
    ul {
        display: none;
    }


    .btn_toggle {
        display: block;
    }
}